* {
    margin: 0;
    padding: 0;
}
.myForm{
    margin: 30px;
}
.result-box{
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 20px;
    height: 30px;
}
#step{
    font-weight: bold;
    font-size: 3rem;
    margin-left: 10px;
}
input{
    width: 50vw!important;
}